@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fs-sm: 13px;
    --fs-md: 20px;
    --fs-xlg: 20px;
    --fs-lg: 20px;
    --fs-xl: 20px;
    --fs-2xl: 28px;
    /* color-here */
    --color-lightblack: #222222;
    --color-green: #88c701;
    --bg_green: #F0F8EC;

}

.text-16 {
    font-size: var(--fs-sm);
}

.text-20 {
    font-size: var(--fs-md);
}

.text-24 {
    font-size: var(--fs-xlg);
}

.text-22 {
    font-size: var(--fs-lg);
}

.text-36 {
    font-size: var(--fs-xl);
}

.text-40 {
    font-size: var(--fs-2xl);
}

.color-green {
    color: var(--color-green);
}

.color-light-black {
    color: var(--color-lightblack);
}

.green {
    color: var(--bg_green);
}

.lh-20 {
    line-height: 20px;
}

.lh-16 {
    line-height: 16px;
}

.lh-47 {
    line-height: 47px;
}

.lh-42 {
    line-height: 42.3px;
}

.lh-23 {
    line-height: 23.5px;
}

.lh-24 {
    line-height: 24px;
}

.lh-25 {
    line-height: 25.6px;
}

.lh-49 {
    line-height: 49.5px;
}

.lh-38 {
    line-height: 38.4px;
}

.op-5 {
    opacity: 0.5;
}

.op-7 {
    opacity: 0.7;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.ff-poppins {
    font-family: 'poppins', sans-serif;
}

.ff_libre {
    font-family: "Libre Caslon Text";
}

@media (min-width:992px) {
    :root {
        --fs-sm: 16px;
        --fs-md: 20px;
        --fs-xlg: 24px;
        --fs-lg: 22px;
        --fs-xl: 36px;
        --fs-2xl: 40px;
    }
}